.header {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  .icon-logo {
    height: 80px;
    width: 84px;
  }
}

.header__input {
  background: transparent;
  border: none;
  color: white;
  font-size: 30px;
  outline: 0;
  margin-left: 1em;
  width: 400px;
  &:hover, &:active, &:focus {
    background: rgba(255, 255, 255, 0.15);
  }
}
